
<button type="button" [routerLink]="['/category/add']"  class="btn btn-outline-dark ml-5 my-2">Add new category</button>

<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">ID</th>
    <th scope="col">Name</th>
    <th>Delete</th>
    <th>Update</th>
    <th>Show Books</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let category of categories ; index as i">
    <th scope="row">{{ i + 1 }}</th>
    <td>
      {{ category.id }}
    </td>
    <td>
      {{ category.name }}
    </td>
    <td>
      <button type="button" (click)="onDelete(category.id)" class="btn btn-outline-dark">Delete</button>
    </td>
    <td>
      <button type="button" [routerLink]="['/category/update', category.id]"  class="btn btn-outline-dark">Update</button>
    </td>
    <td>
      <button type="button" (click)="onShowBooks(category.name)" [routerLink]="['/book/category-books']"  class="btn btn-outline-dark">Show Books</button>
    </td>
  </tr>
  </tbody>
</table>